[Unit]
Description=Nutshell Mint & Wallet Service  
Wants=www.service docker_images.service  
After=www.service docker_images.service  

[Service]  
WorkingDirectory=/home/user/nutshell  

#ExecStartPre=/usr/bin/is_not_shutting_down.sh  
#ExecStartPre=/bin/bash -c 'if [ -f /usr/bin/service_scripts/pre_nutshell.sh ]; then /bin/bash /usr/bin/service_scripts/pre_nutshell.sh; fi'  

ExecStart=/usr/bin/docker compose -f /home/tlindi/nutshell/nutshell/docker-compose.yaml up
ExecStop=/usr/bin/docker compose -f /home/tlindi/nutshell/nutshell/docker-compose.yaml down

#ExecStartPost=/bin/bash -c 'if [ -f /usr/bin/service_scripts/post_nutshell.sh ]; then /bin/bash /usr/bin/service_scripts/post_nutshell.sh; fi'  

Restart=always  
User=tlindi  
Type=simple  
TimeoutSec=120  
RestartSec=60  
SyslogIdentifier=nutshell  

[Install]  
WantedBy=multi-user.target  
